[Unit]
Description=Play Videos Loop

[Service]
ExecStart=/bin/bash /home/ubuntu/videos-player.sh
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
